body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    transition: 0.3s;
}
*{
    transition: 0.3s ease;
}
/* HERO */
.hero {
    min-height: 90vh;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #e9ecef, #ffffff);
    color: black;
}

/* PROFILBILD */
.profile-img {
    width: 180px;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* PROJEKTKORT */
.project-card {
    transition: transform 0.3s;
}

.project-card:hover {
    transform: scale(1.03);
}

/* RESPONSIV */
@media (max-width: 768px) {

    .hero {
        padding: 40px 20px;
    }

    h1 {
        font-size: 2rem;
    }
}
.dark-mode .hero{
    background: linear-gradient(to right, #111, #333);
    color: white;
}
.dark-mode{
    background-color: #121212;
    color: white;
}

.dark-mode nav{
    background-color: black !important;
}

.dark-mode .card{
    background-color: #1e1e1e;
    color: white;
}

.dark-mode a{
    color: white;
}